<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">    
</head>
<body>
    <div id="app" class="flex flex-col h-screen bg-grey-lightest text-grey-darkest">
        <main class="flex-1">
            <div class="container py-8 mx-auto">
                <h1 class="mx-auto w-1/2 text-center">Chat room</h1>
            </div>
        </main>
    </div>
</body>
</html>